* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.column {
  padding: 25px;
  width: 100%;
}

.form-container {
  background-color: #e9f7aa;
  width: 100%;
}

.form-column {
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

.form-column h2 {
  font-size: 40px;
  margin-bottom: 30px;
  padding-top: 20px;
  text-align: center;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
}

.form-button {
  background-color: rgb(112, 175, 154);
  border: none;
  border-radius: 15px;
  color: aliceblue;
  display: block;
  font-weight: 700;
  height: 30px;
  margin: 15px auto;
  width: 58%;
}

.form-button:hover {
  background-color: rgb(139, 196, 177);
  cursor: pointer;
}

.icon {
  font-size: 30px;
  margin-right: 20px;
  text-align: center;
  width: 35px;
}

input {
  border: none;
  border-radius: 7px;
  height: 28px;
  margin-right: 15px;
  width: 100%;
}

.user-column {
  list-style: none;
  padding: 30px;
  width: 100%;
}

.user {
  align-items: center;
  background-color: #e9f7aa;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 150px;
  margin: 0 auto;
  padding: 15px;
  width: 65%;
}
.user-buttons {
  border: none;
  font-size: 20px;
}
.user-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px;
  width: 20%;
}

.user-buttons:hover {
  cursor: pointer;
  font-size: 22px;
  transition: 0.1s;
}
.users-list {
  background-color: #207994;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.user-info {
  padding-left: 40px;
  width: 80%;
}

.user-info h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.user-info p {
  font-size: 18px;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .user-column {
    width: 50%;
  }

  .user {
    width: 85%;
  }
}
